/.vs
/.vs/gpftw_advanced/v15
/Tutorial0/Lines_2017_6_17_21_11.txt
/gpftw/Lines_2017_6_17_21_11.txt
/gpftw/Lines_2017_7_1_2_57.txt
/Documents/x64
/Tutorial6/Lines_2017_7_16_18_48.txt
/Tutorial6/Lines_2017_7_16_23_31.txt
/gpftw/Lines_2017_7_18_1_37.txt
/Tutorial6/Lines_2017_7_17_3_3.txt
/Tutorial6/Lines_2017_7_29_20_25.txt
/Tutorial6/Lines_2017_8_1_23_26.txt
/Tutorial7/Debug/Tutorial7.tlog/Tutorial7.lastbuildstate
/Tutorial7/Debug/Tutorial7.log
/Tutorial7/Release
/Tutorial7/x64/Release
/gpftw/Lines_2017_8_1_23_26.txt
/Tutorial7/x64/Debug/Tutorial7.tlog
/Tutorial7/x64/Debug/Tutorial7.log
/x64/Debug
/Tutorial8/Debug
/Lines_2017_12_25_1_49.txt
/gpftw/Lines_2017_12_25_1_50.txt
/Tutorial9/Release/Tutorial9.tlog
/Tutorial9/Release/Tutorial9.log
