################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/gpftw_advanced/v15
/Tutorial0/Lines_2017_6_17_21_11.txt
/gpftw/Lines_2017_6_17_21_11.txt
/gpftw/Lines_2017_7_1_2_57.txt
